<!DOCTYPE html>
<html>
<head>
  <title>EcoCraft</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>

  <%= javascript_include_tag 'http://socketmiamitalks.herokuapp.com/faye.js' %>

</head>

<body>
<%= react_component('BodyBox') %>
</body>
</html>